/* General styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f6f8f9;
}

/* Utilities */

.bg-white {
  background-color: #fff;
}

.bg-lightblue {
  background-color: #47adf1;
  color: #fff;
}
/* Header */

header {
  padding: 15px 20px;
}
.logo {
  vertical-align: middle;
  margin-right: 5px;
}
.logo-text {
  font-size: 35px;
  font-weight: 700;
}

.btn {
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

hr {
  color: #e5e8ea;
  border: none;
  border-top: 1px solid #e5e8ea;
  margin-top: 10px;
  padding: 0;
}

section {
  padding: 20px 45px;
}
/* Main */
main {
  margin: 50px auto 10px auto;
  width: 75%;
  border-radius: 3px;
}

.section-button {
  padding-bottom: 0px;
}

.add {
  color: #e5e8ea;
  border: 1px solid #e5e8ea;
}
